@import "modules/common"
@import "modules/reset"
@import "modules/elements"
@import "modules/animations"
// @import "lib/bootstrap-3.3.5"

@import "modules/window"
// @import "modules/forms"
@import "modules/buttons"
@import "modules/nav-bar"
@import "modules/error-pages"





.empty-placeholder
	font-size: $size-14
	font-style: italic
	text-align: center
	padding: 0 20px
	margin-top: 50px
	@include opacity( .5 )

/************
 * SECTIONS *
 ************/
.section
	padding: 100px 0 0 0

	h1
		color: $primary-color
		font-weight: 700
		margin-bottom: 50px

	p
		margin-bottom: 20px

		a
			color: $primary-color
			text-decoration: underline

			&:hover
				text-decoration: none
				
.experiences__list
	div
		&:last-child
			p
				margin-bottom: 0

	.experiences__list-title
		font-size: $size-20
		font-weight: 600
		margin-bottom: 10px

		.experiences__list-location
			color: $primary-color
			font-weight: 400

	p
		margin-bottom: 50px

		small
			display: block
			font-size: $size-16
			font-style: italic
			margin-bottom: 10px

