@import "modules/common"
@import "modules/reset"
@import "modules/elements"
@import "lib/bootstrap-3.3.5"

@import "modules/window"

.header
	color: white
	background-color: $primary-color
	padding-top: 130px

.introduction	
	font-size: $size-26
	text-align: center
	margin: 50px 0 80px

	em
		font-weight: 700

.hero__logo
	display: block
	width: 300px
	height: auto
	margin: 0 auto

.nav-bar
	position: fixed
	display: block
	width: 100%
	top: 0
	left: 0
	border-bottom: 1px solid rgba( 0, 0, 0, .1 )
	background-color: $primary-color
	padding: 10px 0
	z-index: 10

	.container
		position: relative

.hamburger
	font-weight: 300
	color: rgba( 255, 255, 255, .5 )
	@include transition( color .2s ease-in-out )

	&:before
		position: relative
		display: inline-block
		content: ""
		width: 27px
		height: 19px
		bottom: -3px
		background: image-url( 'hamburger.svg' ) no-repeat 0 0
		margin-right: 15px

	&:hover
		color: rgba( 255, 255, 255, 1 )


.custom-login
	position: relative
	color: white
	font-size: $size-16
	border: 1px solid rgba( 255, 255, 255, .5 )
	padding: 10px 15px
	float: right
	@include border-radius( 5px )
	@include transition( border-color .2s ease-in-out )

	&:hover
		border-color: rgba( 255, 255, 255, 1 )

/************
 * SECTIONS *
 ************/
.section
	padding: 100px 0 0 0

	h1
		color: $primary-color
		font-weight: 700
		margin-bottom: 50px

.experiences__list
	dt
		font-size: $size-20
		font-weight: 600
		margin-bottom: 10px

		span
			color: $primary-color
			font-weight: 400

	dd
		margin-bottom: 50px

		small
			display: block
			font-size: $size-16
			font-style: italic
			margin-bottom: 10px

