@import "modules/common"
@import "modules/reset"
@import "modules/elements"
@import "modules/animations"
@import "lib/bootstrap-3.3.5"

@import "modules/window"
// @import "modules/forms"
@import "modules/buttons"
@import "modules/nav-bar"
// @import "modules/side-menu"
// @import "modules/list"
// @import "modules/curtain"
// @import "modules/layout"
// @import "modules/toolbar"
// @import "modules/dropzone"

.header
	color: white
	background-color: $primary-color
	padding: 115px 0 50px

.introduction	
	font-size: $size-26
	text-align: center
	margin: 50px 0 80px
	@include animation( fadeIn 1s .6s 1 backwards )

	em
		font-weight: 700

@media (max-width: 440px)
	.introduction
		font-size: $size-22

.hero
	overflow: hidden

	.window
		margin-bottom: -50px
		@include animation( slideUp 1s 1s backwards )

@media (max-width: 767px)
	.hero
		.window
			margin-bottom: -70px

.hero__logo
	display: block
	width: auto
	max-width: 300px
	height: auto
	margin: 0 auto
	@include animation( fadeIn 1s .1s 1 backwards )

.customer-login
	font-size: $size-16
	float: right

.empty-placeholder
	font-size: $size-14
	font-style: italic
	text-align: center
	padding: 0 20px
	margin-top: 50px
	@include opacity( .5 )

/************
 * SECTIONS *
 ************/
.section
	padding: 100px 0 0 0

	h1
		color: $primary-color
		font-weight: 700
		margin-bottom: 50px

	p
		margin-bottom: 20px

		a
			color: $primary-color
			text-decoration: underline

			&:hover
				text-decoration: none
				
.experiences__list
	div
		&:last-child
			p
				margin-bottom: 0

	.experiences__list-title
		font-size: $size-20
		font-weight: 600
		margin-bottom: 10px

		.experiences__list-location
			color: $primary-color
			font-weight: 400

	p
		margin-bottom: 50px

		small
			display: block
			font-size: $size-16
			font-style: italic
			margin-bottom: 10px

