<header class="header hero page-not-found">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>404</h1>
				<h2>Hmmm... I can't find this page. Try going back to the <a href="/">home page</a>.</h2>
			</div>
		</div>
	</div>
</header>