<section class="section competencies">
	<div class="container">
		<h1 class="section__title">{{ 'competencies' | translate }}</h1>

		<div class="window">
			<div class="window__title-bar">
				<div class="window__controls">
					<span class="window__controls window__close"></span>
					<span class="window__controls window__minimize"></span>
					<span class="window__controls window__resize"></span>
				</div>

				<p class="window__title">{{ 'competenciesWindowTitle' | translate }}</p>
			</div>

			<div class="window__content-container window__line-number clearfix">
				<div class="window__content">
					<pre><code>&lt;<span class="code--pink">ul</span>&gt;
<span ng-repeat="competency in $ctrl.competencies">&nbsp;&nbsp;&lt;<span class="code--pink">li</span>&gt;{{competency}}&lt;/<span class="code--pink">li</span>&gt;<br ng-if="!$last"></span>
&lt;/<span class="code--pink">ul</span>&gt;<span class="window__gutter"><span></span>
<span ng-repeat="i in $ctrl.lineNumber"><br></span>
</span></code></pre>
				</div>
			</div>
		</div>
	</div>
</section>