@import "common"

.btn
	line-height: 1

	&.btn--filled
		color: white
		background-color: $primary-color
		padding: 13px 15px
		@include border-radius( 5px )

	&.btn--outline
		color: $dark-gray
		border: 1px solid $primary-color
		padding: 13px 15px
		@include border-radius( 5px )
		@include transition( border-color .2s ease-in-out )

		&:hover
			border-color: rgba( 237, 79, 81, .5 )

	&.btn--outline-white
		color: white
		border-color: rgba( 255, 255, 255, .5 )

		&:hover
			border-color: rgba( 255, 255, 255, 1 )

	&.btn--outline-small
		font-size: $size-14
		padding: 5px 10px

	&.btn--back
		position: relative
		color: white
		bottom: 0
		margin-right: 20px

		&:before
			position: relative
			display: inline-block
			content: ""
			width: 7px
			height: 23px
			top: 4px
			background: image-url( 'back-icon.svg' ) no-repeat 0 0
			background-size: 7px 23px
			margin-right: 10px

	&.btn--outline

