@import "../styles/_common"
@import "../styles/_reset"
@import "../styles/_elements"
@import "../styles/_animations"

@import "./header/_header"
@import "./nav-bar/_nav-bar"
@import "./experience/_experience"
@import "../styles/_window"
@import "../styles/_buttons"
@import "../styles/_error-page"

/************
 * SECTIONS *
 ************/
.section
	padding: 100px 0 0 0

.section__title
	color: $primary-color
	font-weight: 700
	margin-bottom: 50px

	p
		// margin-bottom: 20px

		a
			color: $primary-color
			text-decoration: underline

			&:hover
				text-decoration: none